/* Tailwind base + utilities + components */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styling */
body {
    font-family: "EB Garamond", serif;
    color: #f2f2f2;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-image:
        radial-gradient(at 30% 30%, rgba(70, 70, 120, 0.6), transparent 70%),
        linear-gradient(to bottom right, #1e1e2e 0%, #050505 100%);
    background-blend-mode: screen;
}