/* Tailwind base + utilities + components */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styling */
body {
    font-family: "EB Garamond", serif;
    color: #f2f2f2;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-image:
        radial-gradient(at 30% 30%, rgba(70, 70, 120, 0.6), transparent 70%),
        linear-gradient(to bottom right, #1e1e2e 0%, #050505 100%);
    background-blend-mode: screen;

}


.timeline-container {
    overflow-x: scroll !important;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    padding: 1rem 3rem 5.5rem;
    /* Add these Safari-specific properties */
    background-color: transparent;
    -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

/* Firefox */
.timeline-container::-webkit-scrollbar {
    height: 8px;
    background: transparent;
}

.timeline-container::-webkit-scrollbar-track {
    background: transparent;
}

.timeline-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

/* Safari-specific scrollbar styling */
@supports (-webkit-overflow-scrolling: touch) {
    .timeline-container::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: transparent;
    }

    .timeline-container::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .timeline-container::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        border: 2px solid transparent;
        background-clip: padding-box;
    }
}





a {
    text-decoration: underline;
}

.year-glow {
    text-shadow:
        0 0 4px rgba(255, 255, 255, 0.18),
        0 0 6px rgba(255, 255, 255, 0.12),
        0 0 12px rgba(255, 255, 255, 0.06);
}